.header{
  background-color: #ddd;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  margin-top: 55px;
}
.header > h1{
  font-size: 35px;
  color: #414446;
  font-style: normal;
}
.header > p{
  font-size: 15px;
}
.footer{
  background-color: #ddd;
  text-align: center;
  font-size: 15px;
}
.footer > p{
  padding: 10px;
}
.mycontent{
  min-height: 490px;
}